<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user == current_user || current_user.admin? %>
      <% if @user.books.any? %>
        <h3>Books (<%= @user.books.count %>)</h3>
        <ol class="books">
          <%= render @books %>
        </ol>
        <%= will_paginate @books %>
      <% else %>
        <h3>Books (0)</h3>
        <ol class="books">
          No books have been hired.
        </ol>
      <% end %>
    <% else %>
      <ol class="books">
        Please login as <%= @user.name %> to view books hired.
      </ol>
    <% end %>
  </div>
</div>
